extends base

block content
  .post-overview
    .post-container
      - const postedAt = `${post.postedAt}`.split(' ').splice(1,4).join(' ')
      .post__details.pd-tp-sm=`${post.postedBy} | ${postedAt}.`
      h2.heading-secondary.mg-bt-xs=post.title
      p.post__description=post.description

    .comment
      h3.comment__title.heading-tertiary.mg-bt-sm Comments
      form.form--comment-direct.mg-bt-sm
        textarea.form__text(placeholder='Write your thoughts...' required='' name='comment' id='comment-direct' rows='5' style='resize: none; width: 100%; ')
        button.btn.btn--grey.btn--reply(type='submit') Add comment
        
        
      .comment__info
        each comment, i in post.comments
          .comment__wrapper(class=`comment__wrapper-direct-${comment._id}`)
            img.comment__user-img(src=`/img/${comment.postedBy}.png` alt=`${comment.postedBy}`)
            .comment__user-name=comment.postedBy
            .comment__text
              p=comment.text

          .comment__cta.mg-bt-sm(class=`comment__cta--direct-${comment._id}`)
            .btn-reply(id=`reply-checkbox--${comment._id}` role='checkbox' onclick='changeCheckbox()' aria-checked='false') Reply
            .btn-like(aria-pressed='false' aria-labelledby=`like-${comment._id}` role='button' id=`comment-like-${comment._id}`)|Like 
              |
              span.like-count(class=`comment-like-count-${comment._id}`)=`${comment.likes}`

            .btn-dislike(aria-pressed='false' aria-labellby=`dislike-${comment._id}` role='button' id=`comment-dislike-${comment._id}`) Dislike
              | 
              span.dislike-count(class=`comment-dislike-count-${comment._id}`)= `${comment.dislikes}`
            
            form.form--comment-sub(id=`form--${comment._id}`)
              textarea.form__text(class=`form__text-${comment._id}` placeholder='Write your thoughts...' required='' name='comment' rows='5' style='resize: none; width: 100%; ')
              button.btn.btn--grey.btn--reply(class=`btn-${comment._id}` type='submit') Add comment

          each subcomment in comment.subComment
            .sub-comment
              .comment__wrapper(class=`comment__wrapper-sub-${subcomment.id}`)
                img.comment__user-img(src=`/img/${subcomment.postedBy}.png` alt='User 1')
                .comment__user-name=subcomment.postedBy
                .comment__text
                  p=subcomment.text
              .comment__cta.mg-bt-sm(class=`comment__cta--sub-${subcomment._id}`)
                .btn-like(aria-pressed='false' aria-labellby=`like-${subcomment._id}` role='button' id=`subcomment-like-${subcomment._id}`) Like
                  | 
                  span.like-count(class=`subcomment-like-count-${subcomment._id}`)= `${subcomment.likes}`
                .btn-dislike(aria-pressed='false' aria-labellby=`dislike-${subcomment._id}` role='button' id=`subcomment-dislike-${subcomment._id}`) Dislike
                  | 
                  span.dislike-count(class=`subcomment-dislike-count-${subcomment._id}`)= `${subcomment.dislikes}`
